/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}

#demo3 {
	margin: 40px auto;
}

#demo3 .als-item {
	margin: 0px 10px;
	padding: 4px 0px;
	min-height: 120px;
	min-width: 120px;
	text-align: center;
}

#demo3 .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#demo3 .als-prev, #demo3 .als-next {
	top: 40px;
}

#demo3 .als-prev {
	left: 100px;
}

#demo3 .als-next {
	right: 100px;
}


 

@media screen and (max-width: 600px) /* Mobile */ {
  	#demo3 .als-item {
		margin: 0px 10px;
		padding: 4px 0px;
		min-height: 50px;
		min-width: 50px;
		text-align: center;
	}


	#demo3 .als-prev {
		left: 30px;
	}

	#demo3 .als-next {
		right: 30px;
	}
}

@media screen and (max-width: 600px) /* Mobile */ {
  	#demo3 .als-item {
		margin: 0px 10px;
		padding: 4px 0px;
		min-height: 50px;
		min-width: 50px;
		text-align: center;
	}


	#demo3 .als-prev {
		left: 30px;
	}

	#demo3 .als-next {
		right: 30px;
	}
}
  	
